__pycache__
example_toy_data
runs
logs
data_epithelia
checkpoints
checkpoints_BBBC006
BBBC006.zip
tile_and_stitch_BBBC006.ipynb
.ipynb_checkpoints
.idea
*.pyc
*.out
*.meta
*.index
*.data
*.json
*.npy
*.pth